{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="main-wrapper">

    <section class="inner-hero bg_img overlay--one" style="background-image: url(./assets/images/bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="page-title text-white">Blog Details</h2>
                    <ul class="page-breadcrumb justify-content-center">
                        <li><a href="https://script.viserlab.com/lottolab">Home</a></li>
                        <li>Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- inner hero end -->

    <!-- blog-details-section start -->
    <section class="pt-100 pb-100">
        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-wrapper">
                        <div class="blog-details__thumb">
                            <img src="{{ blog.image.url }}" alt="image">
                            <div class="post__date">
                                <span class="date">{{blog.date|date:"d"}}</span>
                                <span class="month">{{blog.date|date:"M"}}</span>
                            </div>
                        </div><!-- blog-details__thumb end -->
                        <div class="blog-details__content">
                            <h4 class="blog-details__title">{{blog.title}}</h4>

                            <div>{{blog.text|safe}}</div>
                        </div><!-- blog-details__content end -->
                    </div><!-- blog-details-wrapper end -->


                </div>
                <div class="col-lg-4 pl-lg-5">
                    <div class="sidebar">

                        <div class="widget">
                            <h3 class="widget-title">Recent Blog Posts</h3>
                            <ul class="small-post-list">

                                {% for x in last_posts %}
                                <li class="small-post-single">
                                    <div class="thumb"><img src="{{x.image.url}}" alt="image"></div>
                                    <div class="content">
                                        <h6 class="post-title">
                                        <a href="{{x.image.url}}">
                                        {{x.title}}
                                        </a>
                                        </h6>
                                        {{x.date|date:"Y-m-d h:m A"}}
                                    </div>
                                </li><!-- small-post-single end -->
                                {% endfor %}

                            </ul>
                        </div><!-- widget end -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-details-section end -->

</div><!-- main-wrapper end -->


{% endblock content %}