{% extends 'base.html' %}
{% load i18n %}
{% block content %}


<section class="inner-hero bg_img overlay--one" style="background-image: url(./assets/images/bg.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="page-title text-white">
                    {% trans 'Sign In' %}
                </h2>
                <ul class="page-breadcrumb justify-content-center">
                    <li><a href="https://script.viserlab.com/Lottowin">
                    
                    {% trans 'Home' %}
                    </a></li>
                    <li>
                        {% trans 'Sign In' %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- inner hero end -->

<!-- account section start -->
<section class=" pt-100 pb-100 position-relative z-index-2">
    <div class="ball-1"><img
            src="https://script.viserlab.com/Lottowin/assets/templates/basic/images/elements/ball-1.png" alt="image">
    </div>
    <div class="ball-2"><img
            src="https://script.viserlab.com/Lottowin/assets/templates/basic/images/elements/ball-2.png" alt="image">
    </div>
    <div class="ball-3"><img
            src="https://script.viserlab.com/Lottowin/assets/templates/basic/images/elements/ball-3.png" alt="image">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="account-wrapper">
                    <form class="account-form" method="POST" action="">
                        {% csrf_token %}

                        <input type="hidden" name="_token" value="6v6iORh4wBicxKT3MNRH6dEeeNiwlyWPUrUOatnw">
                        <div class="account-thumb-area text-center">
                            <h3 class="title">
                                {% trans 'Welcome Back to LottoWin' %}
                            </h3>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label>
                                {% trans 'Email' %} 
                            <sup class="text-danger">*</sup></label>
                            <input type="text" name="email" value="" placeholder="{% trans 'Email' %}"
                                class="form--control" required>
                        </div>
                        <div class="form-group">
                            <label>
                                {% trans 'Password' %} 
                                <sup class="text-danger">*</sup></label>
                            <input id="password" type="password" class="form--control" placeholder="{% trans 'Password' %}"
                                name="password" required>
                        </div>

                        <div class="form-group d-flex justify-content-center">
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="form-group ">
                            <link href="https://fonts.googleapis.com/css?family=Henny+Penny&display=swap"
                                rel="stylesheet">
                            <div style="height: 60px; line-height: 60px; width:100%; text-align: center; background-color: #003; color: #37f5f9; font-size: 40px; font-weight: bold; letter-spacing: 20px; font-family: 'Henny Penny', cursive;  -webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;user-select: none;  display: flex; justify-content: center;">
                                {% for i in cap %}
                                <span style="float:left; padding:8px; -webkit-transform: rotate({{i.deg}}deg);">{{i.num}}</span>
                                {% endfor %}
                                <!--<span style="float:left; -webkit-transform: rotate(-3deg);">5</span>
                                <span style="float:left; -webkit-transform: rotate(12deg);">3</span>
                                <span style="float:left; -webkit-transform: rotate(-1deg);">9</span>
                                <span style="float:left; -webkit-transform: rotate(44deg);">4</span>
                                <span style="float:left; -webkit-transform: rotate(-5deg);">5</span>-->
                            </div>
                            <input type="hidden" name="captcha_secret" value="{% for i in cap %}{{i.num}}{% endfor %}">
                        </div>
                        <div class="form-group ">
                            <input type="text" name="captcha" placeholder="{% trans 'Enter Code' %}" class="form--control" required>
                        </div>

                        <div class="form-group text-end">
                            <a href="{% url 'reset_password' %}" class="text-white">
                                {% trans 'Forget Password?' %}
                            </a>
                        </div>
                        <button type="submit" id="recaptcha" class="btn btn--base w-100">
                            {% trans 'Login Now' %}
                        </button>
                        <p class="text-center mt-3"><span class="text-white">
                            {% trans 'New to LottoWin?' %}
                        </span> <a
                                href="{% url 'register' %}" class="text--base">{% trans 'Register here' %}
                                </a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- account section end -->


{% endblock content %}