{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="main-wrapper">

    <section class="inner-hero bg_img overlay--one" style="background-image: url(./assets/images/bg.jpg);">
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-6 text-center">
        <h2 class="page-title text-white">
            {% trans "Contact Us" %}
        </h2>
        <ul class="page-breadcrumb justify-content-center">
            <li><a href="./">
            {% trans "Home" %}</a></li>
            <li>{% trans "Contact Us" %}</li>
        </ul>
    </div>
</div>
</div>
</section>
<!-- inner hero end -->

<!-- contact section start -->
<section class="pt-100 pb-100">
<div class="container">
<div class="row justify-content-between gy-5">
    <div class="col-lg-4">
        <h2 class="mb-3">{{contact_title.title}}</h2>
        <p>{{contact_title.desc}}</p>

        <div class="row gy-4 mt-3">
            {% for x in contact %}
            <div class="col-lg-12">
                <div class="contact-info-card rounded-3">
                    <h6 class="mb-3">{{x.title}}</h6>
                    <div class="contact-info d-flex">
                        <i class="las la-map-marked-alt"></i>
                        <p>{{x.information}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div><!-- row end -->

    </div>
    <div class="col-lg-8 ps-lg-5">
        <div class="contact-wrapper rounded-3">
            <h2 class="mb-3">
                {% trans "Contact Us" %}
            </h2>
            <form class="contact-form" method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label>
                            {% trans "Name" %}
                        </label>
                        <div class="custom--field">
                           {{form.name}}
                            <i class="las la-user"></i>
                        </div>
                    </div><!-- form-group end -->
                    <div class="col-lg-6 form-group">
                        <label>
                            {% trans "Email" %}
                        </label>
                        <div class="custom--field">
                           {{form.email}}
                            <i class="las la-envelope"></i>
                        </div>
                    </div><!-- form-group end -->
                    <div class="col-lg-12 form-group">
                        <label>
                            {% trans "Subject" %}
                        </label>
                        <div class="custom--field">
                            {{form.subject}}
                            <i class="las la-pen"></i>
                        </div>
                    </div><!-- form-group end -->
                    <div class="col-lg-12 form-group">
                        <label>
                            {% trans "Message" %}
                        </label>
                        <div class="custom--field">
                            {{form.message}}
                            <i class="las la-envelope"></i>
                        </div>
                    </div><!-- form-group end -->
                    <div class="col-lg-12 form-group">
                        <button type="submit" class="btn btn--base">
                            {% trans "Submit Now" %}
                        </button>
                    </div><!-- form-group end -->
                </div><!-- row end -->
            </form>
        </div>
    </div>
</div>
</div>
</section>
<!-- contact section end -->

</div><!-- main-wrapper end -->
{% endblock content %}