{% extends 'base.html' %}
{% load static %}
{% load commo %}
{% load i18n %}
{% block content %}


<!-- hero section start -->
<section class="hero bg_img" style="background-image: url('./assets/images/bg.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-10 text-center">
                <h2 class="hero__title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">{{index.title}}
                </h2>


                <p class="hero__description mt-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    {{index.description}}
                </p>
                <a href="login" class="btn btn--base btn--capsule mt-4 wow fadeInUp" data-wow-duration="0.5s"
                    data-wow-delay="0.7s">
                    {% trans "Get Started" %}
                </a>
            </div>
        </div>
    </div>
</section>
<!-- hero section end -->
<!-- overview section start -->
<div class="overview-section pb-50">
    <div class="container">
        <div class="row gy-sm-0 gy-4 overview-wrapper wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">

            <div class="col-sm-4 overview-item">
                <div class="overview-card">
                    <div class="overview-card__icon">
                        <i class="las la-users"></i>
                    </div>
                    <div class="overview-card__content">
                        <h3 class="amount text--base text-shadow--base">{{user_count}}</h3>
                        <p>
                            {% trans "Total Users" %}
                        </p>
                    </div>
                </div>
            </div><!-- overview-item end -->
            <div class="col-sm-4 overview-item">
                <div class="overview-card">
                    <div class="overview-card__icon">
                        <i class="las la-trophy"></i>
                    </div>
                    <div class="overview-card__content">
                        <h3 class="amount text--base text-shadow--base">{{winner_count}}</h3>
                        <p>
                            {% trans "Total Winners" %}
                        </p>
                    </div>
                </div>
            </div><!-- overview-item end -->
            <div class="col-sm-4 overview-item">
                <div class="overview-card">
                    <div class="overview-card__icon">
                        <i class="las la-eye"></i>
                    </div>
                    <div class="overview-card__content">
                        <h3 class="amount text--base text-shadow--base">{{visitor.views|commofunc}}</h3>
                        <p>
                            {% trans "Total Visitors" %}
                        </p>
                    </div>
                </div>
            </div><!-- overview-item end -->

        </div>
    </div>
</div>
<!-- overview section end -->


<!-- lottery calender section start -->
<section class="pt-50 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section-title">
                        {% trans "Lottery Calendar" %}
                    </h2>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive--md">
                    <table class="table custom--table">
                        <thead>
                            <tr>
                                <th>{% trans "Title" %}</th>
                                <th>{% trans "Start Date" %}</th>
                                <th>
                                    {% trans "End Date" %}
                                </th>
                                <th>
                                    {% trans "Price" %}
                                </th>
                                <th>
                                    {% trans "Sold" %}
                                </th>
                                <th>
                                    {% trans "Action" %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for x in lotteries %}
                            <tr class='lotto'>
                                <td data-label="Title">
                                    <div class="table-game">
                                        <img src="{% static 'assets/images/lottery/neon_money.png' %}"
                                            alt="image">
                                        <h6 class="name">{{x.title}}</h6>
                                    </div>
                                </td>
                                <td data-label="Start Date">{{x.start_date|date:"Y/m/d"}}</td>
                                <td data-label="End Date">{{x.end_date|date:"Y/m/d"}}</td>
                                <td data-label="Price">{{x.price}} USD</td>
                                <td data-label="Sold">
                                    <div class="progress lottery--progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                            role="progressbar" aria-valuenow="{{x.count_ticker}}" aria-valuemin="0"
                                            aria-valuemax="100" style="width: {{x.percantage}}%"></div>
                                    </div>
                                    <span class="fs--14px per-count">{{x.percantage}}%</span>
                                </td>
                                <td data-label="Action"><a
                                        href="{{x.get_absolute_url}}"
                                        class="btn btn-sm btn-outline--base">{% trans "Buy Ticket" %}</a></td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'lottery:lotto' %}" class="btn btn--base btn--capsule mt-3 wow fadeInUp" data-wow-duration="0.5s"
                data-wow-delay="0.7s">
            {% trans "View All" %}
        </a>
        </div>
    </div>
</section>
<!-- lottery calender section end -->

<!-- how work section start -->
<section class="pt-50 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section-title">{{join_title.title}}</h2>
                    <p class="mt-3">
                        {{join_title.description}}
                    </p>
                </div>
            </div>
        </div>
        <!-- row end -->
        <div class="row gy-4">
            {% for x in join %}

            <div class="col-lg-3 col-sm-6 how-work-item wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="how-work-card">
                    <div class="how-work-card__step text--base text-shadow--base">{{x.number}}</div>
                    <h3 class="title mt-4">{{x.title}}</h3>
                    <p class="mt-2">{{x.short_description}}</p>
                </div>
                <!-- how-work-card end -->
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- how work section end -->

<!-- feature section start -->
<section class="pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-header">
                    <h2 class="section-title">
                        {% trans "Why You Trust Our Service" %}
                    </h2>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row justify-content-center gy-4">
            {% for x  in services %}
              
            
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="feature-card rounded-3">
                    <div class="feature-card__icon text--base text-shadow--base">
                        <i class="{{x.icon}}"></i>
                    </div>
                    <div class="feature-card__content mt-4">
                        <h3 class="title">{{x.title}}</h3>
                        <p class="mt-3">{{x.text}}</p>
                    </div>
                </div><!-- feature-card end -->
            </div>

            {% endfor %}
        </div>
    </div>
</section>
<!-- feature section end -->

<!-- faq section start -->
<section class="pt-50 pb-50">
    <div class="container">
        <div class="row align-items-center justify-content-between gy-4">


            <div class="col-xxl-4 col-xl-5 col-lg-6 text-lg-start text-center wow fadeInLeft" data-wow-duration="0.5s"
                data-wow-delay="0.3s">
                <div class="faq-thumb">
                    <img src="{{faq_img.image.url}}" alt="image">
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
                <div class="accordion custom--accordion" id="faqAccordion">
                    {% for x in faqs %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h-{{x.pk}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#c-{{x.pk}}" aria-expanded="false" aria-controls="c-{{x.pk}}">
                                {{x.question}}
                            </button>
                        </h2>
                        <div id="c-{{x.pk}}" class="accordion-collapse collapse" aria-labelledby="h-{{x.pk}}"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>{{x.answer}}</p>
                            </div>
                        </div>
                    </div><!-- accordion-item-->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq section end -->

<!-- latest winner section start -->
<section class="pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-header">
                    <h2 class="section-title">
                        {% trans "Recent Winners" %}
                    </h2>
                </div>
            </div>
        </div>
        <!-- row end -->
        <div class="row justify-content-center gy-4">
            {% for x in recent_winner %}
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                <div class="winner-card rounded-3">
                    <div class="winner-card__thumb">
                        <img src="{{x.img.url}}" alt="image">
                    </div>
                    <div class="winner-card__content">
                        <h5 class="name">{{x.user.username}}</h5>
                        <span class="fs--14px text-white-50">{{x.date|date:"Y-m-d"}}</span>
                        <div class="amount h--font text--base"> {{x.price}}$</div>
                    </div>
                </div>
                <!-- winner-card end -->
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- latest winner section end -->

<section class="pt-50 pb-100">
    <div class="container">

        <div class="row justify-content-center mt-5">
            <div class="col-lg-10 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s"
                style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="subscribe-wrapper bg_img" data-background="assets/images/bg/bg-5.jpg">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <h2 class="title">
                                {% trans "Join our mail list to get latest announcement" %}
                            </h2>
                        </div>
                        <div class="col-lg-7 mt-lg-0 mt-4">
                            <form class="subscribe-form" action="{% url 'core:subscribe' %}" method="POST">
                                {% csrf_token %}
                                {{sub_form.email}}
                                <button type="submit" class="btn btn-md btn--base btn--capsule">
                                    {% trans "Subscribe" %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div><!-- subscribe-wrapper end -->
            </div>
        </div>
    </div>
</section>


{% endblock content %}


{% block js %}

<script>


tr = document.getElementsByClassName('lotto')
len = tr.length



for (i=0;i<len;i++){

    now_a = document.getElementsByClassName('progress-bar')[i].getAttribute('aria-valuenow')
    max_a = document.getElementsByClassName('progress-bar')[i].getAttribute('aria-valuemax')

    now_b=max_a -now_a
    per = now_b/max_a*100+'%'
    per = document.getElementsByClassName('progress-bar')[i].style.width = per  
    document.getElementsByClassName('per-count')[i].innerHTML = per
}

</script>


{% endblock js %}