
{% extends 'base.html' %}
{% load static %}

{% block css %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
{% endblock css %}

{% block content %}



<div class="main-wrapper">

    <section class="inner-hero bg_img overlay--one" style="background-image: url(./assets/images/bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="page-title text-white">INNER DETAILS</h2>
                    <ul class="page-breadcrumb justify-content-center">
                        <li><a href="//lottowin.az">Home</a></li>
                        <li>INNER DETAILS</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- inner hero end -->

    <!-- lottery details section start -->
    <section class="pt-50 pb-50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="lottery-details-header">
                        <div class="thumb"><img src="{% static 'assets/images/lottery/neon_money.png' %}" alt="image">
                        </div>
                        <div class="content text-center">
                            <h3 class="game-name mb-4">{{lottery.title}}</h3>
                            <div class="clock" id="clock" data-clock='{{lottery.end_date|date:"Y/m/d H:i:s"}}'
                                data-title="This lottery expired"></div>
                        </div>
                    </div><!-- lottery-details-header ed -->
                </div>
            </div><!-- row end -->
            <div class="row mt-5">
                <div class="col-lg-12">
                        <input type="hidden" name="_token" value="6v6iORh4wBicxKT3MNRH6dEeeNiwlyWPUrUOatnw">
                        <input type="hidden" name="lottery_id" value="6">
                        <input type="hidden" name="phase_id" value="10">

                        

                        
                        {% if  lottery.active_status == True %}
                        <div class="lottery-details-body">
                            <div class="top-part">
                                <div class="left">
                                    <h4>Available Ticket: {{lottery.ticket_count}}</h4>
                                    <input type="hidden" name="" value="{{lottery.price}}" id="price_input">
                                    <h4 class="mt-2">Price: ${{lottery.price}}</h4>
                                </div>
                                <!-- <div class="right">
                                    <button type="button" class="btn btn-md btn--base addMore">+ Add New</button>
                                </div> -->
                            </div>
                            <div class="body-part buttons_holder">
                              
                                {% for x in one_hundread %}
                                <button type="button" value="{{x.number}}" class="btn btn-md btn--base addMore toggleablebtn" {{x.disabled}}>{{x.number}}</button>
                                {% endfor %}
                                
                            </div>
                            <div class="footer-part">
                                <div class="left">
                                    <p>1 Draw with <span class="qnt">1</span> ticket : <span class="qnt">1</span> x 360
                                        USD</p>
                                    <p class="mt-2">Total Amount : <span id="price" class="tam">0</span>
                                        <span>USD</span></p>
                                </div>
                                <div class="right">
                                    <form action="" method="POST">
                                        <input type="submit" id="buy_now" class="btn btn-md btn--base" value="Buy Now">
                                    </form>
                                </div>
                            </div>
                        </div><!-- lottery-details-body end -->
                        {% endif %}
                            

                            
    

                    <div class="lottery-details-instruction mt-5">
                        <ul class="nav nav-tabs cumtom--nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link px-4 active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">Instruction</button>
                            </li>
                        </ul>
                        <div class="tab-content mt-4" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            {{lottery.text|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!-- lottery details section end -->

</div><!-- main-wrapper end -->


{% endblock content %}


{% block js %}

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
</script>
<script>

    list = []
    var clock = document.getElementById('clock').attributes['data-clock'].value;
    $('#buy_now').click(function(){
        $(this).hide()
    })

    $('.buttons_holder button').click(function () {
        var checked = document.getElementsByClassName("toggleablebtn")
        var length = checked.length
        let totalprice = 0;
        var price = document.getElementById("price_input").value
        var tam = document.getElementById("price")
        for (var i = 0; i < length; i++) {
            if (checked[i].className == 'btn btn-md btn--base addMore toggleablebtn toggled') {
                totalprice = totalprice + 1
            }
        }
        fullprice = price * totalprice
        tam.innerHTML = fullprice
        return fullprice
    })

    $(document).ready(function () {
        $('#buy_now').on('click', function (e) {
            e.preventDefault()
            var checked = document.getElementsByClassName("toggleablebtn")
            var length = checked.length
            var numbers = ''
            for (var i = 0; i < length; i++) {
                if (checked[i].className == 'btn btn-md btn--base addMore toggleablebtn toggled') {
                    val = checked[i].value
                    numbers+=val
                    numbers+='-'
                }
            }
            data = {
                fullprice: fullprice,
                numbers:numbers,
            }
            $.ajax({
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                type: "POST",
                url: window.location.href + '/' + fullprice + '/' +numbers,
                data: data,
                success: function(data){
                    location.href = window.location.href
                },
                error: function (error) {
                    location.href = window.location.href
                }
            })
        })    
    })



</script>



{% endblock js %}