{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="main-wrapper">

    <section class="inner-hero bg_img overlay--one" style="background-image: url(./assets/images/bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="page-title text-white">{% trans "Terms and Condition" %}</h2>
                    <ul class="page-breadcrumb justify-content-center">
                        <li><a href="https://script.viserlab.com/Lottowin">{% trans "Home" %}</a></li>
                        <li>{% trans "Terms and Condition" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- inner hero end -->

    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row gy-4 align-items-center">
                <div class="col-md-12">
                    {{term.text|safe}}
                </div>
            </div><!-- row end -->
        </div>
    </section>

</div><!-- main-wrapper end -->
{% endblock content %}